.account-page {
    padding: 2vw 2vw;
    position: relative;
}

.account-page > p:first-of-type {
    font-size: 2vw;
    text-align: center;
}

.account-page .info-block {
    display: flex;
    margin-top: 2vw;
}

.account-page .info-block .account-image {
    width: 17vw;
    height: 17vw;
    background-color: black;
}

.account-page .info-block .info {
    padding-left: 2vw;
}

.account-page .info-block .info p {
    font-size: 1vw;
}

.account-page .info-block .info > div {
    display: flex;
    margin-top: 0.5vw;
}

.account-page .info-block .info > div > .ref {
    margin-left: 0.3vw;
    color: black;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s all;
}

.account-page .info-block .info > div > .ref:hover {
    color: #ff5c5c;
    scale: 1.03;
}

.account-page .info-block .info > div > .ref:active {
    color: #c64848;
    scale: 1.01;
}

.account-page .info-block .info > p:not(:first-of-type) {
    margin-top: 0.5vw;
}

.team-lead-button {
    position: absolute;
    top: 2vw;
    right: 3vw;
    background-color: #f3997b;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-lead-button:hover {
    background-color: #ef6666;
    transform: scale(1.05);
}

/*.team-lead-button:active {*/
/*    background-color: #003f7f;*/
/*    transform: scale(1);*/
/*}*/
