.auth-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth-page > h1 {
    font-size: 3vw;
    margin: 7vw 0 4vw;
}

.auth-page-block {
    border: 1px solid black;
    padding: 1.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth-page-block > h1 {
    font-size: 1.7vw;
}

.auth-page-block > label:last-of-type {
    position: relative;
    margin-top: 1vw;
}

.auth-page-block > label:last-of-type > .password-visible-icon {
    position: absolute;
    top: 1.23vw;
    right: 0.3vw;
}

.auth-page-block > label:last-of-type > input {
    margin-top: 0.5vw;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

