.App {
  background-color: #f6e8e0;
  min-height: 100vh;
  font-family: "Century Schoolbook L";
}

.App > .container {
  background-color: #fff8f3;
  padding-top: 4vw;
  box-shadow: 1px 0.5vw 1vw rgba(0, 0, 0, 0.3);
}

.container {
  width: 70%;
  margin: auto;
}